@mixin createLink($class, $color, $borderColor, $colorHover) {
    &.#{$class} {
        color: $color;
        background-image:
        linear-gradient(
            transparent 1px,
            $colorHover 1px,
            $colorHover 2px,
            transparent 2px
        ),
        linear-gradient(
            transparent 1px,
            transparent 1px,
            transparent 2px,
            transparent 2px
        );
        background-size: 0% 6px, 100% 6px;
        background-position: 0 bottom, 0 bottom;
        background-repeat: no-repeat;
        padding-bottom: 4px;
        border-bottom: 6px solid transparent;
        display: unset;

        &:hover {
            color: $colorHover;
            background-size: 100% 6px;
        }
    }
}

.link {
    transition: $transition-base;
    line-height: $line-height-base;
    display: inline-block;
    text-decoration: none;

    @include createLink("link-primary", $colorSecondary, $colorSecondary, $colorPrimary);
}