/* FONT DEFINITIONS */
$fontHelvetica: 'Helvetica';
$fontWorkSans: 'Work Sans';

/* FONT FACE SOURCES */
/*
@font-face {
    font-family: $fontSampleFont;
    src: url('../fonts/opensans/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular.woff') format('woff'),
         url('../fonts/opensans/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

/* MIXIN */
@mixin fontFamily($name) {
	@if $name == $fontHelvetica {
		font-family: Helvetica, Arial, sans-serif; 	 
			
	} @else if $name == $fontWorkSans {
		font-family: $fontWorkSans, sans-serif;	 

	} @else {
		// incorrect font warning
		color: red !important;
		font-family: monospace !important;
	}
}
