/* GLOBAL SETTINGS */
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0));


/* COLOR SETTINGS */
$colorPrimary: #e67e22;
$colorSecondary: #95a5a6;
$colorSuccess: #2ecc71;
$colorDanger: #e74c3c;
$colorLight: #f5f5f7;
$colorDark: #bdc3c7;
$colorWhite: #ffffff;
$colorBlack: #000000;

$theme-colors: (
    "primary": $colorPrimary,
    "secondary": $colorSecondary,
    "success": $colorSuccess,
    "danger": $colorDanger,
    "light": $colorLight,
    "dark": $colorDark,
    "white": $colorWhite,
    "black": $colorBlack,
);

/* BODY SETTINGS */
$body-bg: $colorWhite;
$body-color: lighten($colorBlack, 10);


/* FONT-SIZE SETTINGS */
$font-size-root: 16px;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;


/* HEADINGS SETTINGS */
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-style:         null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;


/* FONT-WEIGHT SETTINGS */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-regular;


/* BORDER-RADIUS SETTINGS */
$border-radius: 0.6rem;
$border-radius-sm: 0.3rem;
$border-radius-lg: 1rem;
$border-radius-pill: 50rem;


/* LINE-HEIGHT SETTINGS */
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;


/* TEXT SETTINGS */
$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: $font-weight-base;
$paragraph-margin-bottom: 1rem;
$small-font-size: .875em;
$text-muted: $gray-600;


/* TRANSITION SETTINGS */
$transition-base: all 400ms ease;
$transition-fade: opacity 150ms linear;
$transition-collapse: height 350ms ease;


/* LINK SETTINGS */
$link-color: $colorPrimary;
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: null;


/* BUTTONS SETTINGS */
$btn-border-radius: $border-radius;
$btn-transition: $transition-base;
$btn-hover-bg-shade-amount: 20%;
$btn-hover-bg-tint-amount: 20%;
$btn-hover-border-shade-amount: 20%;
$btn-hover-border-tint-amount: 20%;


/* BOX-SHADOW SETTINGS */
$box-shadow: 0 .5rem 1rem rgba($colorBlack, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($colorBlack, .075);
$box-shadow-lg: 0 1rem 3rem rgba($colorBlack, .175);
$box-shadow-inset: inset 0 1px 2px rgba($colorBlack, .075);


/* SPACING SETTINGS */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);


/* GRID SETTINGS */
$grid-columns: 12;
$grid-gutter-width: 1.5rem;


/* GRID BREAKPOINTS */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


/* CONTAINER SETTINGS */
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);